@tailwind base;
@tailwind components;
@tailwind utilities;

.header,
.divider {
    position: relative;
}

.header::after {
    content: '';
    display: block;
    width: 100%;
    height: 84px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, black, transparent);
}

.divider::after {
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d7d7d7;
}

@media (min-width: 768px) {
    .header::after {
        height: 140px;
        background: linear-gradient(to bottom, hsl(0 0% 0% / 0.6), transparent);
    }

    .divider::after {
        width: 1px;
        height: 64px;
        top: 50%;
        right: 0;
        bottom: auto;
        left: auto;
        transform: translateY(-50%);
    }
}

.cross,
.open .burger {
    display: none;
}

.open .cross {
    display: block;
}

.label-title {
    min-height: 3.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.25rem;
    padding-left: 2.5rem;
}

.toggle .label-title {
    color: theme('colors.black');
    position: relative;
    @apply transition;
}

.toggle:hover .label-title {
    color: theme('colors.cyan');
}

.toggle .label-title::before {
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid #d7d7d7;
    position: absolute;
    top: 0.875rem;
    left: -1px;
    @apply transition;
}

.toggle:hover .label-title::before {
    border-color: theme('colors.cyan');
}

.toggle.open .label-title::before {
    background-color: theme('colors.cyan');
    box-shadow: 0 0 0px 5px white inset;
}

.money {
    position: relative;
}

.money::before {
    content: '$';
    font-size: 0.875rem;
    position: absolute;
    top: 50%;
    left: 1.375rem;
    z-index: 10;
    transform: translateY(-50%);
}

.money:focus {
    box-shadow: none;
    border-color: theme('colors.cyan');
}

@media (min-width: 1024px) {
    .label-title {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        min-height: 1.5rem;
    }

    .label-title span {
        margin-right: 0.875rem;
    }

    .toggle .label-title::before {
        top: 3px;
    }
}
